##       ________   ___       ___
##      /  _____/  /  /      /  /
##     /  /       /  /      /  /
##    /  /       /  /____  /  / _______  _______  ____  ____
##   /  /       /  ___  / /  / /  __  / /  ____/ /    \/    \
##  /  /_____  /  /  / / /  / /  /_/ / /  /     /  /\    /\  \
## /________/ /__/  /_/ /__/ /______/ /__/     /__/  \__/  \__\ TM
##
## Title: rTorrent Configuration File
## Author: Cody Opel
## E-mail: codyopel(at)gmail.com
## Copyright (c) 2014 All Rights Reserved, http://www.chlorm.net
## License: The MIT License - http://opensource.org/licenses/MIT
## Comments:
##    Assumed Directory & File Structure:
##      ~/Torrents/Complete/ ------------- Torrents are moved here when complete (see "on_finished")
##		~/Torrents/Incomplete/ ----------- Temporaray location for torrents while downloading (see "directory")
##		~/Torrents/Watch/ ---------------- The 'autoload' directory for rtorrent to use.
##		~/.local/share/rtorrent/session/ - For storing rtorrent session information
##    Legend:
##      () - option
##      [] - description
##      ## - comments [not to be uncommented]
##      #  - commented variables
## Directories
	## [default download directory]
	directory.default.set = ~/Torrents/Incomplete/
	## [directory for storing active session files]
	session.path.set = ~/.local/share/rtorrent/session
	## [automatically load .torrent files added to the watch directory]
	schedule2 = watch.directory.added,5,5,load.start=~/Torrents/Watch/*.torrent
	##schedule2 = untied_directory,5,5,stop_untied=
	##schedule2 = low_diskspace,5,60,close_low_diskspace=200G
	##schedule2 = ratio,60,60,stop_on_ratio=200,200M,2000
	## [move completed files to alternate directory]
	method.set_key = event.download.finished,move_complete,"d.directory.set=~/Torrents/Complete;execute2=mv,-u,$d.base_path=,~/Torrents/Complete "
	pieces.hash.on_completion.set = yes
## Throttle
	#throttle.min_peers.normal.set = 40
	throttle.max_peers.normal.set = 100

	throttle.min_peers.seed.set = -1
	throttle.max_peers.seed.set = -1
	## [max upload slots]
	throttle.max_uploads.set = 50
	## [default rate limits]
	throttle.global_down.max_rate.set_kb = 0
	throttle.global_up.max_rate.set_kb = 0
## Network
	#network.local_address.set = 127.0.0.1
	#network.local_address.set = nsa.gov
	#network.bind_address.set = 127.0.0.1
	#network.bind_address.set = rakshasa.no
	network.port_range.set = 6890-6999
	#port_random = yes
## XML-RPC
	## [xml-rpc port]
	#scgi_port = 127.0.0.1:5000
## Trackers
	#trackers.use_udp.set = no
## Encryption
	## [encryption disabled]
	#encryption = allow_incoming,enable_retry,prefer_plaintext
	## [encryption required]
	protocol.encryption.set = require,require_RC4,allow_incoming,try_outgoing,enable_retry
## DHT
	dht.mode.set = disable
	#dht.port.set = 6881
## HTTP
	##[peer exchange]
	#protocol.pex.set = no
## Custom Colors [requires patch to work]
	color_bg_active = 8
	color_fg_active = 10
	color_bg_complete = 8
	color_fg_complete = 14
	color_bg_inactive = 8
	color_fg_inactive = 9
	color_bg_dead = 8
	color_fg_dead = 11