*~
*/#*#
*.local
/dotfiles/config/beets/library.db
/dotfiles/config/beets/state.pickle
/dotfiles/config/mpd/database
/dotfiles/config/mpd/log
/dotfiles/config/mpd/lyrics/*
/dotfiles/config/mpd/mpd.fifo
/dotfiles/config/mpd/pid
/dotfiles/config/mpd/state
/dotfiles/config/mpd/sticker.sql
/dotfiles/config/fish/fish_history
/dotfiles/config/fish/fishd.*
/dotfiles/config/sublime-text-3/Cache/*
/dotfiles/config/sublime-text-3/Index/*
/dotfiles/config/sublime-text-3/Local/*
/dotfiles/config/Terminal/terminalrc
/dotfiles/emacs.d/*
/dotfiles/ncmpcpp/error.log
/dotfiles/xmonad/xmonad.errors
/dotfiles/xmonad/xmonad.hi
/dotfiles/xmonad/xmonad.o
/dotfiles/xmonad/xmonad-x86_64-linux
